# Introduction
The notebook consists of personality scores for recruits and the departments they applied for. Throughout the notebook we will manipulate data, filter dataframes and merge the two datasets together. We will calculate personality scores of the applicants.

# Import dataset

In [1]:
import pandas as pd
import numpy as np

View what the personality dataset entails.

In [2]:
personality_data = pd.read_csv("../Datasets/personality_scores.csv" , delimiter=';')
personality_data.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The dataframe has columns that contain null values. The columns being Unnamed and IPIP_HIGH_RISK.

Drop the columns with the null values

In [3]:
Nan_columns = personality_data.columns[personality_data.columns.str.startswith(('Unnamed', 'IPIP'))]
personality_data.drop(Nan_columns, axis = 1, inplace = True)

Remove Section 5 of 6 [ ...] from the column titles to make the Dataframe/table easier to read.

In [4]:
personality_data.columns = personality_data.columns.str.lstrip("Section 5 of 6 [")
personality_data.columns = personality_data.columns.str.rstrip("]")

View the shape after the columns are dropped to see how many columns and rows it contains

In [5]:
personality_data.shape

(1555, 51)

# Finding duplicates

Drop duplicate IDs and make sure the ID has no duplicates and check the number of the unique ID

In [6]:
personality_data=personality_data.drop_duplicates('ID')

In [7]:
personality_data['ID'].nunique()

1555

Making sure the ID has no duplicates

In [8]:
personality_data['ID'].is_unique

True

Assert to see if the length is the same.

In [9]:
assert personality_data.shape[0] == personality_data['ID'].nunique()

The dataset does not contain duplicate IDs and the rows match the number of IDs.

# Calculate the total scores of each personality subscale

Make additional columns with the sum of each subscale's score for the personality test, then calculate the results.

In [10]:
def subscales(score, subscale):
    if int(score[1]) == subscale:
        return int(score[4])
    else:
        return 0

def sum_rows(col, subscale):
    return col.apply(subscales, args = (subscale,))

no_id = personality_data.copy().drop(columns=['ID'])
data_frame = personality_data.copy()
data_frame['Extraversion'] = no_id.apply(sum_rows, axis = 1, args = (1,)).sum(axis=1)
data_frame['Agreeableness'] = no_id.apply(sum_rows, axis = 1, args = (2,)).sum(axis=1)
data_frame['Conscientiousness'] = no_id.apply(sum_rows, axis = 1, args = (3,)).sum(axis=1)
data_frame['Emotional Stability'] = no_id.apply(sum_rows, axis = 1, args = (4,)).sum(axis=1)
data_frame['Intellect'] = no_id.apply(sum_rows, axis = 1, args = (5,)).sum(axis=1)

personality_data = pd.merge(personality_data,data_frame[['ID',
                      'Extraversion', 
                      'Agreeableness', 
                      'Conscientiousness', 
                      'Emotional Stability', 
                      'Intellect' 
                     ]], how='left')
personality_data.head()

,ID,I am always prepared.,I am easily disturbed.,I am exacting (demanding) in my work.,I am full of ideas.,I am interested in people.,I am not interested in abstract ideas.,I am not interested in other people's problems.,I am not really interested in others.,I am quick to understand things.,...,I sympathize with others' feelings.,I take time out for others.,I talk to a lot of different people at parties.,I use difficult words.,I worry about things.,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Intellect
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36

Import the department dataset and view what it entails.

In [11]:
department_data = pd.read_csv("../Datasets/departments.csv", delimiter=';')
department_data.head()

   ID Department
0   0       Data
1   1       Data
2   2       Data
3   3       Data
4   4       Data

# Merge the personality and departments dataframe

In [12]:
scores = pd.merge(personality_data, department_data, how='left')

In [13]:
scores.shape

(1555, 57)

Check to see that the length of the merged dataframe is the same for the departments dataframe.

In [14]:
assert len(scores) == len(department_data)

Look at the number of applicants in each department

In [15]:
scores["Department"].value_counts()

Strategy       449
Data           329
Copywriting    326
Web Dev        170
Web dev        161
Design         120
Name: Department, dtype: int64

Change web dev to "Web Dev" because it appears twice.

In [16]:
scores['Department'] = scores['Department'].replace('Web dev','Web Dev')

Filter the merged data frame to get only the applicants who scored less than 30 on emotional stability, conscientiousness AND agreeableness. View the ID and department of the high risk.

In [17]:
pd.options.mode.chained_assignment = None
high_risks = (scores["Emotional Stability"] < 30) & (scores["Conscientiousness"] < 30) & (scores["Agreeableness"] < 30)
high_risk = scores[high_risks]

high_risk[["Department"]]

       Department
881          Data
1197  Copywriting

Have an overview if the applicant is high risk or low risk

In [18]:
def risk(applicant):
    high_risk_id_list = high_risk["ID"].values.tolist()
    if applicant in high_risk_id_list:
        return "High Risk"
    else:
        return "Low Risk"

        
scores['Risk'] = scores['ID'].apply(risk)
scores.head()

,ID,I am always prepared.,I am easily disturbed.,I am exacting (demanding) in my work.,I am full of ideas.,I am interested in people.,I am not interested in abstract ideas.,I am not interested in other people's problems.,I am not really interested in others.,I am quick to understand things.,...,I talk to a lot of different people at parties.,I use difficult words.,I worry about things.,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Intellect,Department,Risk
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42,Data,Low Risk
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42,Data,Low Risk
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42,Data,Low Risk
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38,Data,Low Risk
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36,Data,Low Risk

Create a new data frame with a summary of the number of low and high-risk applicants within each department.

In [19]:
summary_df = scores.groupby(['Risk','Department'], as_index = False).count().pivot('Risk','Department').fillna(0)
summary_df.columns = summary_df.columns.droplevel(0)
summary_df = summary_df.rename_axis(None, axis=1)
summary_df = summary_df.loc[:,~summary_df.T.duplicated(keep='first')]
summary_df = summary_df.astype(float).astype(int)
summary_df.reset_index()

summary_df

           Copywriting  Data  Design  Strategy  Web Dev
Risk
High Risk            1     1       0         0        0
Low Risk           325   328     120       449      331

# Conclusion

The are five different departments and the Strategy department has the most applicants, with Design having the lowest number of applicants. The are only 2 high risk applicants. We can see that the Strategy department has the highest low risk applicants meanwhile the Design department has the lowest low risk applicants.